body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-middle {
  position: absolute;
  top: 5%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
}

.country-info {
  position: absolute;
  margin-top: 12%;
  left: 25%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
}
